[Unit]
Description=Simple Node.JS Web Server
Wants=network.target
After=network.target

[Service]
ExecStart=/usr/bin/nodejs /srv/backend.js
WorkingDirectory=/srv
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=backendweb
User=root

[Install]
WantedBy=multi-user.target
